.admin-dash-label {
    -fx-text-fill: #FE6C01;
    -fx-font-family: Arial;
    -fx-font-size: 25;
    -fx-font-weight: bold;
}

.stat-card {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 5, 0, 0, 2);
}

.stat-card:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 5);
}

.back-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: #808080;
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-padding: 0;
}

.display-box {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-color: white;
    -fx-border-radius: 10;
    -fx-padding: 20;
}

.table-view {                           /* whole table style */
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-table-cell-border-color: transparent; /* Removes vertical border lines */
}

.table-view .column-header-background {
    -fx-background-color: linear-gradient(to bottom, #FE6C01, #FE6C01);
    -fx-background-radius: 10 10 0 0;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.table-view .column-header .label {     /* style header text */
    -fx-text-fill: white;
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-padding: 5;
}

.table-cell {
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-padding: 10 15 10 15;
    -fx-alignment: CENTER;
}

.table-row-cell {                       /* style row cell */
    -fx-background-color: rgba(254, 108, 1, 0.2);
    -fx-alignment: CENTER;
}

.table-row-cell:odd {                   /* style odd row cell */
    -fx-background-color: rgba(254, 108, 1, 0.05);
}

.table-column {
    -fx-alignment: CENTER;
}

.zero-row .table-cell {
    -fx-text-fill: red;
}

.start-label, .empty-label {
    -fx-text-fill: #808080;
    -fx-font-size: 20px;
}

.action-box .button, .sales-button {
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-width: 2;
    -fx-border-color: transparent;
    -fx-font-family: Arial;
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.action-box .button .label {
    -fx-padding: 0 0 0 0;
}

.update-button {
    -fx-background-color: #FCE7BB;          /* orange color */
    -fx-text-fill: #E8A000;
}

.update-button:hover {
    -fx-background-color: #FFDA8A;
}

.deactivate-button, .remove-button {
    -fx-background-color: #FFE5E5;          /* orange color */
    -fx-text-fill: #D32F2F;
}

.deactivate-button:hover,
.remove-button:hover {
    -fx-background-color: #FFCCCC;
}

.reactivate-button, .done-button {
    -fx-background-color: #CDF1C5;
    -fx-text-fill: #10A115;
}

.reactivate-button:hover, .done-button:hover {
    -fx-background-color: #ACE9A0;
}

.view-button {
    -fx-background-color: #DEDEDE;
    -fx-text-fill: #808080;
}

.view-button:hover {
    -fx-background-color: #C4C4C4;
}

.sales-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: #FE6C01;
}

.label.title {
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-text-fill: #FE6C01;
}

.form-header {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-size: 14;
}

.orange-button {
    -fx-background-color: #FE6C01;
    -fx-background-radius: 5;
    -fx-border-color: #FE6C01;
    -fx-border-radius: 5;
    -fx-font-size: 14;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.close-button {
    -fx-background-color: transparent;
    -fx-text-fill: #666;
    -fx-font-size: 20;
    -fx-cursor: hand;
    -fx-font-weight: bold;
    -fx-padding: 0
}

.detail-box {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-color: white;
    -fx-border-radius: 10;
    -fx-padding: 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 5);
}

.detail-box .label {
    -fx-font-size: 16;
}

.detail-box .order-id, .detail-box .status, .detail-box .total {
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

.detail-box .order-id {
    -fx-text-fill: #FE6C01;
}

.detail-box .section-title {
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.toggle-button {
    -fx-background-color: transparent;
    -fx-background-radius: 20;
    -fx-border-color: #FE6C01;
    -fx-border-radius: 20;
    -fx-border-width: 1.5;
    -fx-text-fill: #FE6C01;
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.toggle-button:selected {
    -fx-background-color: #FE6C01;
    -fx-border-color: #FE6C01;
    -fx-text-fill: white;
}

.combo-box {
    -fx-font-family: Arial;
    -fx-font-size: 14;
    -fx-text-fill: black;
    -fx-background-color: #DADADA;
    -fx-background-radius: 15;
    -fx-border-color: transparent;
    -fx-border-radius: 15;
    -fx-cursor: hand;
}

.combo-box .arrow {
    -fx-shape: "M26.297 12.625l-11.594 11.578c-0.391 0.391-1.016 0.391-1.406 0l-11.594-11.578c-0.391-0.391-0.391-1.031 0-1.422l2.594-2.578c0.391-0.391 1.016-0.391 1.406 0l8.297 8.297 8.297-8.297c0.391-0.391 1.016-0.391 1.406 0l2.594 2.578c0.391 0.391 0.391 1.031 0 1.422z";
}

.combo-box:showing .arrow {
    -fx-rotate: 180;
}

.combo-box.selected { /* Style field after selected */
    -fx-background-color: #FEA05D;
}

.combo-box.selected .list-cell { /* Style field text after selected */
    -fx-text-fill: black;
}

.combo-box .list-cell {
    -fx-text-fill: black;
}

.combo-box.selected .list-view .list-cell {
    -fx-text-fill: black;
}

.combo-box .list-view .list-cell:selected,
.combo-box.selected .list-view .list-cell:selected{ /* Style field when selected */
    -fx-background-color: #FE6C01;
    -fx-text-fill: white;
}

.combo-box .list-view .list-cell:hover,
.combo-box.selected .list-view .list-cell:hover { /* Style options when selected */
    -fx-background-color: #F0EDED;
    -fx-text-fill: #FE6C01;
}

.sales-chart .chart-series-line {
    -fx-stroke: #FE6C01;
    -fx-stroke-width: 2px;
}

.sales-chart .chart-line-symbol {
    -fx-background-color: #FE6C01, white;
    -fx-background-radius: 5px;
    -fx-padding: 4px;
}

.sales-chart .chart-plot-background {
    -fx-background-color: transparent;
}

.sales-chart .chart-title {
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-text-fill: #FE6C01;
}

.sales-chart .axis-label {
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-text-fill: #808080;
}

.sales-chart .axis:bottom .axis-tick-mark,
.sales-chart .axis:left .axis-tick-mark {
    -fx-stroke: #808080;
}

.sales-chart .chart-vertical-grid-lines {
    -fx-stroke: #E0E0E0;
    -fx-stroke-dash-array: 4 4;
}

.sales-chart .chart-horizontal-grid-lines {
    -fx-stroke: #E0E0E0;
    -fx-stroke-dash-array: 4 4;
}

.sales-chart .axis {
    -fx-tick-label-fill: #808080;
}