.search-field {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-prompt-text-fill: #ADADAD;
}

.search-bar {
    -fx-background-color: #E0E0E0;
    -fx-background-radius: 30;
    -fx-border-color: #E0E0E0;
    -fx-border-radius: 30;
    -fx-border-width: 1;
}

.search-bar.focused {
    -fx-background-color: white;
    -fx-border-color: white;
}

.search-bar .button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-opacity: 0.5;
}

.search-bar .button:hover {
    -fx-opacity: 1;
}

.item-box {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-color: white;
    -fx-border-radius: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 5, 0, 0, 2);
}

.label.name, .label.unit-price {
    -fx-text-fill: black;
    -fx-font-size: 15;
    -fx-font-weight: bold;
}

.label.category, .label.size, .label.quantity, .label.subtotal {
    -fx-text-fill: black;
    -fx-font-size: 13;
}

.label.size-value, .label.quantity-value {
    -fx-text-fill: black;
    -fx-font-size: 13;
    -fx-font-weight: bold;
}

.label.subtotal-value {
    -fx-text-fill: black;
    -fx-font-size: 19;
    -fx-font-weight: bold;
}

.label.empty-cart {
    -fx-text-fill: #808080;
    -fx-font-size: 16px;
}

.cart-row {
    -fx-padding: 10;
}

.order-summary-box {
    -fx-background-color: #D9D9D9;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-padding: 10;
}

.section-title {
    -fx-font-size: 15;
    -fx-font-weight: bold;
}

.summary-details-box {
    -fx-font-size: 13;
}

.total-box .label {
    -fx-font-size: 19;
    -fx-font-weight: bold;
}

.content-box {
    -fx-padding: 30;
}

.close-button {
    -fx-background-color: transparent;
    -fx-text-fill: #666;
    -fx-font-size: 16;
    -fx-cursor: hand;
    -fx-font-weight: bold;
    -fx-padding: 0
}

.checkout-box {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-color: white;
    -fx-border-radius: 10;
    -fx-padding: 10;
    -fx-text-fill: black;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 15, 0, 0, 2);
}

.payment-combo {
    -fx-font-family: Arial;
    -fx-font-size: 14;
    -fx-text-fill: black;
    -fx-background-color: #DADADA;
    -fx-background-radius: 15;
    -fx-border-color: transparent;
    -fx-border-radius: 15;
    -fx-cursor: hand;
}

.payment-combo .arrow {
    -fx-shape: "M26.297 12.625l-11.594 11.578c-0.391 0.391-1.016 0.391-1.406 0l-11.594-11.578c-0.391-0.391-0.391-1.031 0-1.422l2.594-2.578c0.391-0.391 1.016-0.391 1.406 0l8.297 8.297 8.297-8.297c0.391-0.391 1.016-0.391 1.406 0l2.594 2.578c0.391 0.391 0.391 1.031 0 1.422z";
}

.payment-combo:showing .arrow {
    -fx-rotate: 180;
}

.payment-combo.selected { /* Style field after selected */
    -fx-background-color: #FEA05D;
}

.payment-combo.selected .list-cell { /* Style field text after selected */
    -fx-text-fill: black;
}

.payment-combo .list-cell {
    -fx-text-fill: black;
}

.payment-combo.selected .list-view .list-cell {
    -fx-text-fill: black;
}

.payment-combo .list-view .list-cell:selected,
.payment-combo.selected .list-view .list-cell:selected{ /* Style field when selected */
    -fx-background-color: #FE6C01;
    -fx-text-fill: white;
}

.payment-combo .list-view .list-cell:hover,
.payment-combo.selected .list-view .list-cell:hover { /* Style options when selected */
    -fx-background-color: #F0EDED;
    -fx-text-fill: #FE6C01;
}