.login-box {
    -fx-background-color: white;
    -fx-background-radius: 5;
}

.user-field, .password-box {
    -fx-background-color: transparent;
    -fx-font-family: Arial;
    -fx-font-size: 18;
    -fx-border-color: #EBEBEB;
    -fx-border-width: 3;
    -fx-border-radius: 5;
    -fx-prompt-text-fill: gray;             /* placeholder text color */
    -fx-text-fill: black;
}

.user-field {
    -fx-padding: 18 17 16 17;
}

.password-box {
    -fx-padding: 0;
}

.user-field:focused, .user-field.valid:focused, .password-box.focused, .password-box.valid.focused{
    -fx-border-color: #D4D4D4 #D4D4D4 #FE6C01 #D4D4D4;  /* grey grey orange grey */
}

.user-field.error, .password-box.error {
    -fx-border-color: #D22F20 #D22F20 #D22F20 #D22F20;
}

.user-field.error:focused, .password-box.error.focused {
    -fx-border-color: #B6281B #B6281B #B6281B #B6281B; /* red red red red */
}

.user-field.valid, .password-box.valid{
    -fx-border-color: #EBEBEB #EBEBEB #FE6C01 #EBEBEB;
}

.password-field, .password-field:focused,
.text-field.visible-pass, .text-field.visible-pass:focused {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 1;
    -fx-prompt-text-fill: gray;             /* placeholder text color */
    -fx-text-fill: black;
    -fx-font-family: Arial;
    -fx-font-size: 18;
    -fx-padding: 18 17 16 17;
}

.showpass-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-cursor: hand;
}

.error-msg {
    -fx-text-fill: red;
    -fx-font-size: 14;
}

.primary-button, .secondary-button {
    -fx-font-family: Arial;
    -fx-font-size: 18;
    -fx-border-radius: 5;
    -fx-border-width: 2;
}

.primary-button {
    -fx-background-color: #FE6C01;          /* orange color */
    -fx-border-color: #FE6C01;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.secondary-button {
    -fx-background-color: transparent;
    -fx-border-color: #EBEBEB;
    -fx-cursor: hand;
}