#signup-form {
    -fx-background-color: white;
    -fx-background-radius: 5;
}

#signup-title {
    -fx-text-fill: #EE5702;
    -fx-font-family: Arial;
    -fx-font-size: 25;
    -fx-font-weight: bold;
}

#section-title {
    -fx-text-fill: #BEBEBE;
    -fx-font-size: 15;
}

.text-field, .password-box {
    -fx-font-family: Arial;
    -fx-font-size: 15;
    -fx-background-color: transparent;
    -fx-border-color: #EBEBEB;
    -fx-border-radius: 5;
    -fx-border-width: 3;
    -fx-prompt-text-fill: gray; /* placeholder text color */
    -fx-text-fill: black;
}

.text-field {
    -fx-padding: 8 10 8 10;
}

.password-box {
    -fx-padding: 0;
}

.text-field.error, .password-box.error {
    -fx-border-color: #D22F20 #D22F20 #D22F20 #D22F20;
}

.text-field:focused, .text-field.valid, .text-field.valid:focused, .password-box.focused , .password-box.valid{
    -fx-border-color: #D4D4D4 #D4D4D4 #EE5702 #D4D4D4;  /* grey grey orange grey */
}

.text-field.error:focused, .password-box.error.focused {
    -fx-border-color: #B6281B #B6281B #B6281B #B6281B; /* red red red red */
}

.password-field, .password-field:focused {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-prompt-text-fill: gray;             /* placeholder text color */
    -fx-text-fill: black;
    -fx-font-family: Arial;
    -fx-font-size: 15;
    -fx-padding: 8 10 8 10;
}

#showpass-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-cursor: hand;
}

#description {
    -fx-text-fill: black;
    -fx-font-family: Arial;
    -fx-font-size: 13;
}

#error-msg {
    -fx-text-fill: red;
    -fx-font-family: "Arial";
    -fx-font-size: 10;
}

#primary-button, #secondary-button {
    -fx-font-family: Arial;
    -fx-font-size: 15;
    -fx-border-radius: 5;
    -fx-border-width: 2;
}

#primary-button {
    -fx-background-color: #EE5702;          /* orange color */
    -fx-border-color: #EE5702;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

#secondary-button {
    -fx-background-color: transparent;
    -fx-border-color: #EBEBEB;
    -fx-cursor: hand;
}