.signup-form {
    -fx-background-color: white;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 15, 0, 0, 2);
}

.signup-title {
    -fx-text-fill: #FE6C01;
    -fx-font-family: Arial;
    -fx-font-size: 30;
    -fx-font-weight: bold;
}

.section-title {
    -fx-text-fill: #ADADAD;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

.text-input {
    -fx-padding: 10 9 10 9;
}

.password-box {
    -fx-font-family: Arial;
    -fx-background-color: transparent;
    -fx-border-color: #EBEBEB;
    -fx-border-radius: 5;
    -fx-border-width: 3;
    -fx-prompt-text-fill: gray; /* placeholder text color */
    -fx-text-fill: black;
}

.password-box {
    -fx-padding: 0;
}

.password-box.focused, .password-box.valid.focused {
    -fx-border-color: #D4D4D4 #D4D4D4 #FE6C01 #D4D4D4;  /* grey grey orange grey */
}

.password-box.valid {
    -fx-border-color: #EBEBEB #EBEBEB #FE6C01 #EBEBEB;
}

.password-box.error {
    -fx-border-color: #D22F20 #D22F20 #D22F20 #D22F20;
}

.password-box.error.focused {
    -fx-border-color: #B6281B #B6281B #B6281B #B6281B; /* red red red red */
}

.password-field, .password-field:focused,
.text-field.visible-pass, .text-field.visible-pass:focused {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-prompt-text-fill: gray;             /* placeholder text color */
    -fx-text-fill: black;
    -fx-font-family: Arial;
    -fx-font-size: 18;
    -fx-padding: 8 10 8 10;
}

.showpass-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-cursor: hand;
}

.description {
    -fx-text-fill: black;
    -fx-font-family: Arial;
    -fx-font-size: 13;
}

.error-msg {
    -fx-text-fill: red;
    -fx-font-family: "Arial";
    -fx-font-size: 10;
}

.primary-button, .secondary-button {
    -fx-font-family: Arial;
    -fx-font-size: 15;
    -fx-border-radius: 5;
    -fx-border-width: 2;
}

.primary-button {
    -fx-background-color: #FE6C01;          /* orange color */
    -fx-border-color: #FE6C01;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.secondary-button {
    -fx-background-color: transparent;
    -fx-border-color: #EBEBEB;
    -fx-cursor: hand;
}